@{
    ViewBag.Title = "Bot";
}

<div class="row"><p><h2>&nbsp;</h2></p></div>

<div class="row">
    <div class="col-md-12">

        <div class="bs-component">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title panel-title-large">
                        <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp; Ask our super intelligent bot questions about the hotel
                    </h3>
                </div>
                <div class="panel-body">

                    <!-- PASTE YOUR BOT EMBED CODE HERE -->

                </div>
            </div>
        </div>
        
        <div class="row">
            Would you rather talk to a live person? @Html.ActionLink("Chat with hotel guests and concierge", "Index", "Home")
        </div>
    </div>

</div>

<div class="row"><p>&nbsp;</p></div>
